.footer__link-element {
  margin-right: 18px;
}

@media (min-width: 321px) and (max-width: 767px) {
  .footer__link-element {
    margin-right: 9px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link-element {
    margin-bottom: 32px;
  }
}

.footer__link-element:last-child {
  margin: 0;
}
