.cover {
    background-position: center center;
    max-height: 740px;
    background: no-repeat;
    background-image:url(../../images/cover-trains.jpg);
    margin: 0 48px 92px 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    z-index: 1;
    object-fit: cover;
  }
  
  @media screen and (max-width: 1024px) {
    .cover {
      margin: 0 0 92px 0;
    }
  }
  @media screen and (max-width: 768px) {
    .cover {
      margin: 0 0 88px 0;
      background-size: 100% auto;
      width: 100%;
      max-width: 768px;
      max-height: 480px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover {
      background-size: 100% auto;
      margin: 0 0 64px 0;
      padding: 0;
      max-height: 200px;
      box-sizing: border-box;
      position: relative;
    }
  }
  
  .cover:hover {
    cursor: pointer;
  }
  
  .cover::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    z-index: 0;
    top: 0;
    left: 0;
    background: #2a2c2f;
  }
  
  .cover:hover::after {
    cursor: pointer;
    opacity: 0.8;
  }
  