.cover__title {
  z-index: 2;
  max-width: 560px;
  margin-top: 245px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 560px;
    margin-top: 115px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    max-width: 250px;
    margin-top: 33px;
    margin-bottom: 16px;
  }
}
